.advantages__list {
  text-align: left;

  list-style: none;
  background-color: $color-bg-light;
}

@media (min-width: $width-tablet) {
  .advantages__list {
    display: flex;
  }
}

.advantages__title {
  @include font-h;
}

.advantages__description {
  @include font-p;

  line-height: 21px;
}
