.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__map-wrapper {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 27px;
    height: 27px;
    margin-top: -13.5px;
    margin-left: -13.5px;

    background-image: url("../img/icon-map-marker.svg");
  }
}

@media (min-width: $width-tablet) {
  .contacts {
    width: 768px;
    margin-top: 58px;
  }

  .contacts__map {
    width: 768px;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    width: 1200px;
    margin-top: 66px;
  }

  .contacts__map {
    width: 1200px;
  }
}
