.contacts__map-wrapper {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 161px;
    left: 146px;

    width: 27px;
    height: 27px;

    background-image: url("../img/icon-map-marker.svg");
  }
}

@media (min-width: $width-tablet) {
  .contacts {
    margin-top: 58px;
  }

  .contacts__map {
    width: 768px;
  }
}

@media (min-width: $width-desktop) {
  .contacts__map {
    width: 1200px;
  }
}
