.features {
  margin-top: 40px;

  text-align: center;
}

.features__header {
  width: 270px;
  margin: 0 auto;
}

.features__slogan {
  @include font-h;

  display: block;
  margin: 27px 0;
}

.features__intro {
  @include font-p;

  margin: 20px 0;

  line-height: 26px;
}

.features__list {
  margin: 0;
  margin-top: 26px;
  padding: 0;

  list-style: none;
  background-color: $color-bg-light-2;
}

.features__item {
  position: relative;

  display: flex;
  flex-direction: column;

  &--second {
    margin-bottom: 19px;
  }

  &:last-child {
    .features__description {
      padding-bottom: 28px;
    }
  }
}

.features__item--darkbg {
  .features__text-wrapper {
    min-height: 162px;
    padding-top: 29px;

    color: $color-h-light;

    background-color: $color-bg-dark;
  }

  .features__description {
    width: 275px;
    padding-bottom: 40px;
  }
}

.features__item--first {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 160px;
    height: 16px;

    background-image: linear-gradient(5deg, transparent 0%, transparent 48%, #ffffff 52%, #ffffff 100%);
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 160px;
    height: 16px;

    background-image: linear-gradient(-5deg, transparent 0%, transparent 48%, #ffffff 52%, #ffffff 100%);
  }

  .features__text-wrapper {
    padding-top: 47px;
  }
}

.features__item--line {
  &::before {
    content: "";

    position: absolute;
    top: -19px;
    left: 20px;

    width: 280px;
    height: 1px;

    background-color: #d6d6d6;
  }
}

.features__title {
  @include font-h;

  margin: 9px 0;

  color: inherit;
}

.features__number {
  @include font-p;

  margin-top: 9px;
  margin-bottom: 15px;

  line-height: 21px;
  color: inherit;
}

.features__description {
  @include font-p;

  width: 255px;
  margin: 15px auto 0;
  padding-bottom: 45px;

  line-height: 21px;
  color: inherit;
}

@media (min-width: $width-tablet) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    flex-wrap: wrap;
  }

  .features__text-wrapper {
    width: 256px;
  }

  .features__image {
    width: 512px;

    &--left {
      order: -1;
    }
  }
}

@media (min-width: $width-desktop) {
  .features__text-wrapper {
    width: 400px;
  }

  .features__image {
    width: 800px;
  }
}
