.features {
  text-align: center;
}

.features__slogan {
  @include font-h;
}

.features__intro {
  @include font-p;

  line-height: 26px;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $width-tablet) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  background-color: $color-bg-light-2;

  &--darkbg {
    color: $color-h-light;

    background-color: $color-bg-dark;
  }
}

@media (min-width: $width-tablet) {
  .features__item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $width-tablet) {
  .features__text-wrapper {
    width: 256px;
  }
}

@media (min-width: $width-desktop) {
  .features__text-wrapper {
    width: 400px;
  }
}

.features__title {
  @include font-h;

  color: inherit;
}

.features__number {
  @include font-p;

  line-height: 21px;
  color: inherit;
}

.features__description {
  @include font-p;

  line-height: 21px;
  color: inherit;
}

@media (min-width: $width-tablet) {
  .features__image {
    width: 512px;

    &--left {
      order: -1;
    }
  }
}

@media (min-width: $width-desktop) {
  .features__image {
    width: 800px;
  }
}
