@font-face {
  @include font;

  font-weight: 400;

  src: local("PTSans Regular"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  @include font;

  font-weight: 700;

  src: local("PTSans Bold"), url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
  @include font;

  font-weight: 400;

  src: local("PTSans Regular"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  @include font;

  font-weight: 700;

  src: local("PTSans Bold"), url("../fonts/ptsansbold.woff") format("woff");
}
