.gallery {
  margin-top: 37px;

  text-align: center;
}

.gallery__title {
  @include font-h;

  margin-bottom: 26px;
}

.gallery__intro {
  @include font-p;

  width: 270px;
  margin: 22px auto;
}

.gallery__list {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.gallery__item {
  min-height: 391px;
  padding-top: 23px;

  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.gallery__text-wrapper {
  margin-left: 20px;

  text-align: left;
}

.gallery__image-title {
  @include font-h;

  margin: 11px 0 0;

  font-size: 14px;
  line-height: 24px;
}

.gallery__author {
  @include font-p;

  margin: 0;

  text-transform: none;
}

.gallery__likes {
  @include font-h;

  position: relative;

  margin-top: 9px;
  margin-bottom: 0;
  margin-left: 20px;
  padding-left: 36px;

  font-size: 14px;
  line-height: 24px;
  text-align: left;

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    width: 24px;
    height: 22px;

    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $width-tablet) {
  .gallery {
    margin-top: 74px;
  }

  .gallery__title {
    margin-bottom: 31px;

    font-size: 30px;
  }

  .gallery__intro {
    width: 445px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
    margin-top: 69px;
    padding: 0;
  }

  .gallery__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 324px;
    min-height: 347px;
    padding: 0;

    border: 0;

    &:last-child {
      border: 0;
    }
  }

  .gallery__item--wide {
    width: 100%;

    .gallery__image {
      height: 400px;
    }
  }

  .gallery__image {
    width: 100%;
    height: 267px;
  }

  .gallery__description-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    padding: 0 20px;

    background-color: #f2f2f2;

    &--dark {
      background-color: #eaeaea;
    }
  }

  .gallery__text-wrapper {
    margin: 0;
    margin-bottom: 11px;
  }

  .gallery__likes {
    margin: 0;

    &::before {
      top: 0;
      left: 4px;
    }
  }
}

@media (min-width: $width-desktop) {
  .gallery__list {
    width: 100%;
  }

  .gallery__item {
    width: 400px;

    &--wide {
      width: 100%;
    }
  }
}
