.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  width: $width-mobile;
  margin: 0 auto;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 160px;
    height: 26px;

    background-image: linear-gradient(9deg, $color-bg-light 0%, $color-bg-light 49%, transparent 51%, transparent 100%);
  }

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    width: 160px;
    height: 26px;

    background-image: linear-gradient(-9deg, $color-bg-light 0%, $color-bg-light 49%, transparent 51%, transparent 100%);
  }
}

.page-header__wrapper {
  position: relative;

  display: flex;
  min-height: 445px;

  background-color: $color-bg-light;
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 146px, -224px 56px;
  background-size: 280px 213px, 768px 389px;

  &::before {
    content: "";

    position: absolute;

    width: 100%;
    height: 56px;

    background-color: $color-bg-light;
  }

  &--inner-page {
    min-height: 215px;

    background-image: url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 45px 108px, -224px -175px;
    background-size: 229px 39px, 768px 389px;
  }
}

.page-header__logo {
  z-index: 1;

  margin: 0 110px;
}

@media (min-width: $width-tablet) {
  .page-header {
    width: $width-tablet;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 34px;
      z-index: 1;

      width: 350px;
      height: 57px;

      background-image: linear-gradient(9deg, $color-bg-light 0%, $color-bg-light 49%, transparent 50%, transparent 100%);
    }

    &::after {
      content: "";

      position: absolute;
      right: 34px;
      bottom: 0;
      z-index: 1;

      width: 350px;
      height: 57px;

      background-image: linear-gradient(-9deg, $color-bg-light 0%, $color-bg-light 49%, transparent 50%, transparent 100%);
    }
  }

  .page-header__wrapper {
    align-items: flex-start;
    min-height: 518px;

    background-position: 154px 77px, 0 0;
    background-size: 460px 350px, 1200px 518px;

    &::before {
      content: "";

      position: absolute;
      bottom: -20px;
      left: 0;
      z-index: 1;

      width: 250px;
      height: 91px;

      background-color: transparent;
      background-image: linear-gradient(5deg, $color-bg-light 0%, $color-bg-light 49%, transparent 50%, transparent 100%);
    }

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: -20px;
      z-index: 1;

      width: 250px;
      height: 91px;

      background-color: transparent;
      background-image: linear-gradient(-5deg, $color-bg-light 0%, $color-bg-light 49%, transparent 50%, transparent 100%);
    }

    &--inner-page {
      min-height: 290px;

      background-position: 156px 95px, 0 0;
      background-size: 458px 78px, 1200px 518px;
    }
  }

  .page-header__logo {
    margin-top: -56px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $width-desktop) {
  .page-header {
    width: $width-desktop;

    &::before {
      left: 250px;
    }

    &::after {
      right: 250px;
    }
  }

  .page-header__wrapper {
    background-position: 370px 78px, 0 0;

    &::before {
      bottom: 0;
    }

    &::after {
      bottom: 0;
    }

    &--inner-page {
      min-height: 301px;

      background-position: 369px 102px, 0 0;
      background-size: 460px 79px, 1200px 518px;
    }
  }
}
