@import "variables";

.page-header {
  width: 320px;
  min-height: 445px;

  background-color: #ffffff;
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 280px 213px, 768px 389px;
}
