.reservation {
  margin-top: 28px;

  text-align: center;
}

.reservation__title {
  @include font-h;

  font-size: 21px;
}

.reservation__description {
  @include font-p;

  width: 275px;
  margin: 20px auto;
}

.reservation__button {
  margin: 33px auto 49px;
}
