.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: $color-bg-dark;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
  }
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  @include font-h;

  line-height: 40px;
  color: $color-h-light;
  text-decoration: none;
}
