.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: $color-bg-dark;
}

.site-list__item {
  height: 55px;

  &:not(:last-child) {
    border-bottom: 1px solid #678fa8;
  }

  &:not(:first-child) {
    height: 54px;

    border-top: 1px solid #9ac2db;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.site-list__link {
  @include font-h;

  display: block;
  padding-top: 7px;
  padding-bottom: 10px;

  line-height: 40px;
  color: $color-h-light;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .site-list {
    display: flex;
  }
}
