// Переменные для текста

$font: "PT Sans";
$font-family: "PT Sans", "Arial", sans-serif;
$color-h-dark: #000000;
$color-h-light: #ffffff;
$color-p-dark: #333333;
$color-p-light: #ffffff;
$color-link-hover: #81b3d2;
$color-link-active: #b2b2b2;
$color-link-curent: #766357;
$color-link-curent-hover: #604e43;
$color-link-mobile-active: rgba(255, 255, 255, 0.3);

// Переменные фоновых цветов

$color-bg-dark: #81b3d2;
$color-bg-light: #ffffff;
$color-bg-light-2: #eeeeee;
$color-menu-hover: #669ec0;
$color-menu-active: #5496bd;
$color-input: #f2f2f2;
$color-input-hover: #e5e5e5;
$color-line-1: #d6d6d6;
$color-line-2: #e5e5e5;
$color-line-3: #dbdbdb;
$color-gallery-light: #f2f2f2;
$color-gallery-dark: #eaeaea;
$color-gallery-desktop: rgba(0, 0, 0, 0.3);
$color-bg-checkbox: #f2f2f2;
$color-bg-checkbox-hover: #e5e5e5;
$color-bg-checkbox-active: #d5d5d5;
$color-bg-checkbox-circle: #333333;
$color-bg-checkbox-daw: #231f20;
$color-bg-video-controls: rgba(0, 0, 0, 0.6);

// Переменные для кнопок

$color-bg-btn: #81b3d2;
$color-bg-btn-light: #ffffff;
$color-btn: #ffffff;

// Переменные для размеров

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;
