// Переменные для текста

$font: "PT Sans";
$font-family: "PT Sans", "Arial", sans-serif;
$color-h-dark: #000000;
$color-h-light: #ffffff;
$color-p-dark: #333333;
$color-p-light: #ffffff;


// Переменные фоновых цветов

$color-bg-dark: #81b3d2;
$color-bg-light: #ffffff;
$color-bg-light-2: #eeeeee;
$color-input: #f2f2f2;


// Переменные для кнопок

$color-bg-btn: #81b3d2;
$color-btn: #ffffff;
