// Переменные для текста

$font-family: "PT Sans", "Arial", sans-serif;
$color-h-dark: #000000;
$color-h-light: #ffffff;
$color-p-dark: #333333;
$color-p-light: #ffffff;


// Примеси для вертикального ритма

@mixin font-h {
  font-family: $font-family;
  font-size: 18px;
  line-height: 26px;
  color: $color-h-dark;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin font-p {
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: $color-p-dark;
  font-weight: 400;
  text-transform: uppercase;
}


// Переменные фоновых цветов

$color-bg-dark: #81b3d2;
$color-bg-light: #ffffff;
$color-bg-light-2: #eeeeee;
$color-input: #f2f2f2;


// Переменные для кнопок

$bgcolor-btn: #81b3d2;
$color-btn: #ffffff;


// Примеси для кнопок

@mixin btn {
  display: block;
  width: 280px;
  min-height: 42px;
  padding-top: 16px;

  background-color: $bgcolor-btn;
}

@mixin font-btn {
  font-family: $font-family;
  font-size: 21px;
  line-height: 26px;
  color: $color-btn;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
